body {
    background-color:#f3d643 ;
} 

.Navbar {
    background-color: white;
    display: flex;
    padding: 30px;
    font-family: sans-serif;
    color: #f3d643;
}

.Navbar__Items {
    display: flex;
}

.Navbar_Link_Menu a {
    font-size: 20px;
    margin-left: 12px;
    text-decoration: none;
    color: #c36721;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

.Navbar__Link {
    padding-right: 12px;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link .link {
    text-decoration: none;
    background-color: #c36721;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

.figure {
    margin: 50px;
}

.figure .img_adocao img {
    width: 800px;
    border-radius: 35px;
    margin: 110px;
}

.sombra {
    background-color: #073376;
    width: 800px;
    height: 490px;
    border-radius: 35px;
    margin: 75px;
}

.sombra2 {
    background-color: #29b2a0;
    width: 600px;
    height: 410px;
    border-radius: 35px;
    margin-left: 500px;
    margin-top: -285px;
}

.posicao {
    margin-left: 1250px;
    margin-top: -610px;
}

.titulo_adocao .titulo h1 {
    color: #073376;
    font-size: 60px;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
}

.texto p {
    padding-top: 38px;
    text-align: left;
    margin-right: 60px;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
}

.saiba {
    padding-top: 40px;
    margin-left: 285px;
    display: flex;
}

.saiba a .clique {
    padding: 20px;
    font-size: 30px;
    width: 350px;
    border-radius: 25px;
    border: none;
}

.saiba a .clique span {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    font-weight: 650;
    color: #073376;
}


.footer-pet {
    margin-top: 235px;
    background-color: #c36721;
    color: white;
    height: auto;
    width: 100%;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
}

.footer-pet a {
    text-decoration: none;
    color: white;
}

.footer-pet p {
    margin-bottom: 5px;
}

.footer-pet-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.footer-pet-div1, .footer-pet-div2, .footer-pet-div3, .footer-pet-div4 {
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}

.footer-pet span {
    font-size: 20px;
    color: white;
}

.footer-direitos {
    width: calc(100% - 0px);
    background-color: #073376;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
