body {
    background-color: #f3d643;
}

.Navbar {
    background-color: white;
    display: flex;
    padding: 30px;
    font-family: sans-serif;
    color: #f3d643;
}

.Navbar__Items {
    display: flex;
}

.Navbar_Link_Menu a {
    font-size: 20px;
    margin-left: 12px;
    text-decoration: none;
    color: #c36721;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

.Navbar__Link {
    padding-right: 12px;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link .link {
    text-decoration: none;
    background-color: #c36721;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

.main_petshop {
    display: flex;
    margin-top: 100px;
}

.historia {
    background-color: #073376;
    height: 700px;
}

.open_pet {
    padding-top: 95px;
    text-align: justify;
}

.content {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

.titulo_inicial h1 {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.texto p {
    padding-top: 10px;
    color: white;
    font-family: "DM Sans", sans-serif;
    margin-right: 400px;
    font-size: 20px;
}

.ajustar2 {
    padding-top: 60px;
}

.imagem_logo img {
    height: 400px;
    width: 400px;
    border-radius: 35px;
    border: 5px solid white;
}

.texto_principal h1 {
    margin-left: 75px;
    padding: 45px;
    margin-top: 75px;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 65px;
}

.imagem_principal_left img {
    margin-left: 100px;
    height: 865px;
    width: 800px;
    margin-top: -95px;
}

.oferecimento h1 {
    margin-top: 150px;
    text-align: center;
    font-size: 60px;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    color: #073376;
}

.icones {
    background-color: #f3d643;
    height: 290px;
}


.icones .alinhar_icones {
    padding-top: 135px;
    display: flex;
    justify-content: space-between;
    margin-left: 595px;
    margin-right: 595px;
}

.alinhar_icones .icone_1,
.icone_2,
.icone_3 {
    margin-top: -40px;
    background-color: #29b2a0;
    width: 185px;
    height: 185px;
    border-radius: 20px;
}

.alinhar_icones .icone_1 img,
.icone_2 img,
.icone_3 img {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.alinhar_icones a:hover .icone_1, a:hover .icone_2, a:hover .icone_3{
    background-color: white;
}

.alinhar_icones a {
    text-decoration: none;
}

.mensagem {
    padding-top: 10px;
    color: #073376;
    text-align: center;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

.carrossel {
    margin-top: 200px;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

.text {
    margin-left: 150px;
    text-align: justify
}

.tit h2 {
    font-size: 50px;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    color: #073376;
}

.textao {
    padding-top: 25px;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    color: black;
    font-weight: 700;
}

.slideshow {
    position: relative;
    width: 400%;
    height: 400px;
    overflow: hidden;
    border-radius: 35px;
}

.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    animation: fade 3s infinite;
}

.slideshow a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.footer-pet {
    margin-top: 800px;
    background-color: #c36721;
    color: white;
    height: auto;
    width: 100%;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
}

.footer-pet a {
    text-decoration: none;
    color: white;
}

.footer-pet p {
    margin-bottom: 5px;
}

.footer-pet-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.footer-pet-div1,
.footer-pet-div2,
.footer-pet-div3,
.footer-pet-div4 {
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}

.footer-pet span {
    font-size: 20px;
    color: white;
}

.footer-direitos {
    width: calc(100% - 0px);
    background-color: #073376;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
