body {
    background-color:#f3d643 ;
} 

.Navbar {
    background-color: white;
    display: flex;
    padding: 30px;
    font-family: sans-serif;
    color: #f3d643;
}

.Navbar__Items {
    display: flex;
}

.Navbar_Link_Menu a {
    font-size: 20px;
    margin-left: 12px;
    text-decoration: none;
    color: #c36721;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

.Navbar__Link {
    padding-right: 12px;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link .link {
    text-decoration: none;
    background-color: #c36721;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

.main_petshop {
    display: flex;
    margin-top: 100px;
}

.texto_principal h1 {
    margin-left: 75px;
    padding: 45px;
    margin-top: 75px;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 65px;
}

.imagem_principal_left img {
    margin-left: 100px;
    height: 865px;
    width: 800px;
    margin-top: -95px;
}

.footer-pet {
    background-color: #c36721;
    color: white;
    height: auto;
    width: 100%;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
}

.footer-pet a {
    text-decoration: none;
    color: white;
}

.footer-pet p {
    margin-bottom: 5px;
}

.footer-pet-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.footer-pet-div1, .footer-pet-div2, .footer-pet-div3, .footer-pet-div4 {
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}

.footer-pet span {
    font-size: 20px;
    color: white;
}

.footer-direitos {
    width: calc(100% - 0px);
    background-color: #073376;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
